<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">
    <a href="{% url 'index' %}" class="logo d-flex align-items-center">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="assets/img/logo.png" alt=""> -->
      <h1 class="sitename">
        <span>&lt;S</span> <span style="color: #ffbb2b">K &#47;&gt;</span>
      </h1>
    </a>
    <nav id="navmenu" class="navmenu">
      <ul>
        <li>
          <a href="#hero" class="active">Home</a>
        </li>
        <li>
          <a href="#about">About</a>
        </li>
        <li>
          <a href="#tools">Tools</a>
        </li>
        <li>
          <a href="#services">Services</a>
        </li>
        <li>
          <a href="#portfolio">Portfolio</a>
        </li>
        <!--
        <li>
          <a href="#">Blog</a>
        </li>
				!-->
        <li>
          <a href="#contact">Contact</a>
        </li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>
  </div>
</header>
