{% extends "_layout/base.html" %}

{% load static %}

{% block content %}
  <!-- Hero Section -->
  <section id="hero" class="hero section dark-background">
    <img src="{% static 'assets/img/macbook-bg.jpg' %}"
         alt=""
         data-aos="fade-in">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <h2>
        Salim Kachemela (Prof.Kache)
        <br>
      </h2>
      <p>
        I'm a <span class="typed"
       data-typed-items="Software Engineer, Full-Stack Developer, Tech Innovator, Technology Consultant, Agile Developer">Digital Creator</span>
      </p>
      <div class="social-links">
        <a href="https://x.com/ProfKache" target="_blank"><i class="bi bi-twitter-x"></i></a>
        <a href="https://www.facebook.com/Prof.Kache"><i class="bi bi-facebook"></i></a>
        <a href="https://www.instagram.com/prof.kache/"><i class="bi bi-instagram"></i></a>
        <a href="https://www.linkedin.com/in/salimkachemela/" target="_blank"><i class="bi bi-linkedin"></i></a>
      </div>
    </div>
  </section>
  <!-- /Hero Section -->
  <!-- About Section -->
  <section id="about" class="about section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>About</h2>
    </div>
    <!-- End Section Title -->
    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="row gy-4 justify-content-between">
        <div class="col-lg-4 profile-img align-self-start">
          <img src="{% static 'assets/img/my_profile_pic.jpg' %}"
               class="img-fluid"
               alt="">
        </div>
        <div class="col-lg-7 content">
          <h3>
            I’m a passionate Software Developer based in Tanzania with a strong focus on building high-quality, scalable digital solutions.
          </h3>
          <p>
            As a Full-Stack Developer, I bring extensive experience across both backend
            and frontend technologies — enabling me to design, develop, and deliver end-to-end
            software products with precision and efficiency.
          </p>
          <ul>
            <li>
              <i class="bi bi-check2-all"></i>
              <span>Full-stack expertise (frontend & backend)</span>
            </li>
            <li>
              <i class="bi bi-check2-all"></i>
              <span>Focused on performance, architecture, and code quality</span>
            </li>
            <li>
              <i class="bi bi-check2-all"></i>
              <span>Passionate about continuous learning and innovation</span>
            </li>
            <li>
              <i class="bi bi-check2-all"></i>
              <span>Committed to delivering professional, results-driven solutions</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- /About Section -->
  <!-- Tools Section -->
  <section id="tools" class="testimonials section light-background">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Languages | Frameworks | Tools</h2>
      <p>Specialist in need. Generalist at heart.</p>
    </div>
    <!-- End Section Title -->
    <div class="container text-center">
      <div class="row gy-4">
        {% for category in tech_categories %}
          <div class="col-lg-4 col-md-6 service-item d-flex"
               data-aos="fade-up"
               data-aos-delay="100">
            <div>
              <div class="icon flex-shrink-0" style="font-size: 2.5rem;">
                {% if category.name == 'Frontend' %}
                  <i class="bi bi-laptop"></i>
                {% elif category.name == 'Backend' %}
                  <i class="bi bi-server"></i>
                {% elif category.name == 'Tools' %}
                  <i class="bi bi-tools"></i>
                {% endif %}
              </div>
              <h4 class="title">{{ category.name }}</h4>
              {% for technology in category.technologies.all %}<p class="description">{{ technology.name }}</p>{% endfor %}
            </div>
          </div>
        {% endfor %}
        <!-- End Service Item -->
      </div>
    </div>
  </section>
  <!-- /Tools Section -->
  <!-- Services Section -->
  <section id="services" class="services section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Services</h2>
      <p>Here some of the services I offer</p>
    </div>
    <!-- End Section Title -->
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 service-item d-flex"
             data-aos="fade-up"
             data-aos-delay="100">
          <div class="icon flex-shrink-0">
            <i class="bi bi-briefcase"></i>
          </div>
          <div>
            <h4 class="title">Lorem Ipsum</h4>
            <p class="description">
              Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident
            </p>
            <a href="service-details.html" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
          </div>
        </div>
        <!-- End Service Item -->
        <div class="col-lg-4 col-md-6 service-item d-flex"
             data-aos="fade-up"
             data-aos-delay="200">
          <div class="icon flex-shrink-0">
            <i class="bi bi-card-checklist"></i>
          </div>
          <div>
            <h4 class="title">Dolor Sitema</h4>
            <p class="description">
              Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata
            </p>
            <a href="service-details.html" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
          </div>
        </div>
        <!-- End Service Item -->
        <div class="col-lg-4 col-md-6 service-item d-flex"
             data-aos="fade-up"
             data-aos-delay="300">
          <div class="icon flex-shrink-0">
            <i class="bi bi-bar-chart"></i>
          </div>
          <div>
            <h4 class="title">Sed ut perspiciatis</h4>
            <p class="description">
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
            </p>
            <a href="service-details.html" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
          </div>
        </div>
        <!-- End Service Item -->
        <div class="col-lg-4 col-md-6 service-item d-flex"
             data-aos="fade-up"
             data-aos-delay="600">
          <div class="icon flex-shrink-0">
            <i class="bi bi-calendar4-week"></i>
          </div>
          <div>
            <h4 class="title">Eiusmod Tempor</h4>
            <p class="description">
              Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi
            </p>
            <a href="service-details.html" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
          </div>
        </div>
        <!-- End Service Item -->
      </div>
    </div>
  </section>
  <!-- /Services Section -->
  <!-- Testimonials Section -->
  <section id="testimonials" class="testimonials section light-background">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Testimonials</h2>
      <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
    </div>
    <!-- End Section Title -->
    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="swiper init-swiper">
        <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              }
            }
        </script>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-1.jpg"
                   class="testimonial-img"
                   alt="">
              <h3>Saul Goodman</h3>
              <h4>Ceo &amp; Founder</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.</span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div>
          <!-- End testimonial item -->
          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="{% static 'assets/img/testimonials/testimonials-2.jpg' %}"
                   class="testimonial-img"
                   alt="">
              <h3>Sara Wilsson</h3>
              <h4>Designer</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.</span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div>
          <!-- End testimonial item -->
          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-3.jpg"
                   class="testimonial-img"
                   alt="">
              <h3>Jena Karlis</h3>
              <h4>Store Owner</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.</span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div>
          <!-- End testimonial item -->
          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-4.jpg"
                   class="testimonial-img"
                   alt="">
              <h3>Matt Brandon</h3>
              <h4>Freelancer</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.</span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div>
          <!-- End testimonial item -->
          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-5.jpg"
                   class="testimonial-img"
                   alt="">
              <h3>John Larson</h3>
              <h4>Entrepreneur</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.</span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div>
          <!-- End testimonial item -->
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
  <!-- /Testimonials Section -->
  <!-- Portfolio Section -->
  <section id="portfolio" class="portfolio section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Portfolio</h2>
      <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
    </div>
    <!-- End Section Title -->
    <div class="container">
      <div class="isotope-layout"
           data-default-filter="*"
           data-layout="masonry"
           data-sort="original-order">
        <ul class="portfolio-filters isotope-filters"
            data-aos="fade-up"
            data-aos-delay="100">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-app">App</li>
          <li data-filter=".filter-product">Product</li>
          <li data-filter=".filter-branding">Branding</li>
          <li data-filter=".filter-books">Books</li>
        </ul>
        <!-- End Portfolio Filters -->
        <div class="row gy-4 isotope-container"
             data-aos="fade-up"
             data-aos-delay="200">
          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
            <div class="portfolio-content h-100">
              <img src="assets/img/portfolio/app-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 1</h4>
                <p>Lorem ipsum, dolor sit amet consectetur</p>
                <a href="assets/img/portfolio/app-1.jpg"
                   title="App 1"
                   data-gallery="portfolio-gallery-app"
                   class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="portfolio-details.html"
                   title="More Details"
                   class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div>
          </div>
          <!-- End Portfolio Item -->
          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
            <div class="portfolio-content h-100">
              <img src="assets/img/portfolio/product-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Product 1</h4>
                <p>Lorem ipsum, dolor sit amet consectetur</p>
                <a href="assets/img/portfolio/product-1.jpg"
                   title="Product 1"
                   data-gallery="portfolio-gallery-product"
                   class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="portfolio-details.html"
                   title="More Details"
                   class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div>
          </div>
          <!-- End Portfolio Item -->
          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
            <div class="portfolio-content h-100">
              <img src="assets/img/portfolio/branding-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Branding 1</h4>
                <p>Lorem ipsum, dolor sit amet consectetur</p>
                <a href="assets/img/portfolio/branding-1.jpg"
                   title="Branding 1"
                   data-gallery="portfolio-gallery-branding"
                   class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="portfolio-details.html"
                   title="More Details"
                   class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div>
          </div>
          <!-- End Portfolio Item -->
          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-books">
            <div class="portfolio-content h-100">
              <img src="assets/img/portfolio/books-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Books 1</h4>
                <p>Lorem ipsum, dolor sit amet consectetur</p>
                <a href="assets/img/portfolio/books-1.jpg"
                   title="Branding 1"
                   data-gallery="portfolio-gallery-book"
                   class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="portfolio-details.html"
                   title="More Details"
                   class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div>
          </div>
          <!-- End Portfolio Item -->
          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
            <div class="portfolio-content h-100">
              <img src="assets/img/portfolio/app-2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 2</h4>
                <p>Lorem ipsum, dolor sit amet consectetur</p>
                <a href="assets/img/portfolio/app-2.jpg"
                   title="App 2"
                   data-gallery="portfolio-gallery-app"
                   class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="portfolio-details.html"
                   title="More Details"
                   class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div>
          </div>
          <!-- End Portfolio Item -->
          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
            <div class="portfolio-content h-100">
              <img src="assets/img/portfolio/product-2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Product 2</h4>
                <p>Lorem ipsum, dolor sit amet consectetur</p>
                <a href="assets/img/portfolio/product-2.jpg"
                   title="Product 2"
                   data-gallery="portfolio-gallery-product"
                   class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="portfolio-details.html"
                   title="More Details"
                   class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div>
          </div>
          <!-- End Portfolio Item -->
          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
            <div class="portfolio-content h-100">
              <img src="assets/img/portfolio/branding-2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Branding 2</h4>
                <p>Lorem ipsum, dolor sit amet consectetur</p>
                <a href="assets/img/portfolio/branding-2.jpg"
                   title="Branding 2"
                   data-gallery="portfolio-gallery-branding"
                   class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="portfolio-details.html"
                   title="More Details"
                   class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div>
          </div>
          <!-- End Portfolio Item -->
          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-books">
            <div class="portfolio-content h-100">
              <img src="assets/img/portfolio/books-2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Books 2</h4>
                <p>Lorem ipsum, dolor sit amet consectetur</p>
                <a href="assets/img/portfolio/books-2.jpg"
                   title="Branding 2"
                   data-gallery="portfolio-gallery-book"
                   class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="portfolio-details.html"
                   title="More Details"
                   class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div>
          </div>
          <!-- End Portfolio Item -->
          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
            <div class="portfolio-content h-100">
              <img src="assets/img/portfolio/app-3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 3</h4>
                <p>Lorem ipsum, dolor sit amet consectetur</p>
                <a href="assets/img/portfolio/app-3.jpg"
                   title="App 3"
                   data-gallery="portfolio-gallery-app"
                   class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="portfolio-details.html"
                   title="More Details"
                   class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div>
          </div>
          <!-- End Portfolio Item -->
          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
            <div class="portfolio-content h-100">
              <img src="assets/img/portfolio/product-3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Product 3</h4>
                <p>Lorem ipsum, dolor sit amet consectetur</p>
                <a href="assets/img/portfolio/product-3.jpg"
                   title="Product 3"
                   data-gallery="portfolio-gallery-product"
                   class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="portfolio-details.html"
                   title="More Details"
                   class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div>
          </div>
          <!-- End Portfolio Item -->
          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
            <div class="portfolio-content h-100">
              <img src="assets/img/portfolio/branding-3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Branding 3</h4>
                <p>Lorem ipsum, dolor sit amet consectetur</p>
                <a href="assets/img/portfolio/branding-3.jpg"
                   title="Branding 2"
                   data-gallery="portfolio-gallery-branding"
                   class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="portfolio-details.html"
                   title="More Details"
                   class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div>
          </div>
          <!-- End Portfolio Item -->
          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-books">
            <div class="portfolio-content h-100">
              <img src="assets/img/portfolio/books-3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Books 3</h4>
                <p>Lorem ipsum, dolor sit amet consectetur</p>
                <a href="assets/img/portfolio/books-3.jpg"
                   title="Branding 3"
                   data-gallery="portfolio-gallery-book"
                   class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="portfolio-details.html"
                   title="More Details"
                   class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div>
          </div>
          <!-- End Portfolio Item -->
        </div>
        <!-- End Portfolio Container -->
      </div>
    </div>
  </section>
  <!-- /Portfolio Section -->
  <!-- Pricing Section -->
  <section id="pricing" class="pricing section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Pricing</h2>
      <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
    </div>
    <!-- End Section Title -->
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="100">
          <div class="pricing-item">
            <h3>Free Plan</h3>
            <p class="description">Ullam mollitia quasi nobis soluta in voluptatum et sint palora dex strater</p>
            <h4>
              <sup>$</sup>0<span>/ month</span>
            </h4>
            <a href="#" class="cta-btn">Start a free trial</a>
            <p class="text-center small">No credit card required</p>
            <ul>
              <li>
                <i class="bi bi-check"></i> <span>Quam adipiscing vitae proin</span>
              </li>
              <li>
                <i class="bi bi-check"></i> <span>Nec feugiat nisl pretium</span>
              </li>
              <li>
                <i class="bi bi-check"></i> <span>Nulla at volutpat diam uteera</span>
              </li>
              <li class="na">
                <i class="bi bi-x"></i> <span>Pharetra massa massa ultricies</span>
              </li>
              <li class="na">
                <i class="bi bi-x"></i> <span>Massa ultricies mi quis hendrerit</span>
              </li>
              <li class="na">
                <i class="bi bi-x"></i> <span>Voluptate id voluptas qui sed aperiam rerum</span>
              </li>
              <li class="na">
                <i class="bi bi-x"></i> <span>Iure nihil dolores recusandae odit voluptatibus</span>
              </li>
            </ul>
          </div>
        </div>
        <!-- End Pricing Item -->
        <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="200">
          <div class="pricing-item featured">
            <p class="popular">Popular</p>
            <h3>Business Plan</h3>
            <p class="description">Ullam mollitia quasi nobis soluta in voluptatum et sint palora dex strater</p>
            <h4>
              <sup>$</sup>29<span>/ month</span>
            </h4>
            <a href="#" class="cta-btn">Start a free trial</a>
            <p class="text-center small">No credit card required</p>
            <ul>
              <li>
                <i class="bi bi-check"></i> <span>Quam adipiscing vitae proin</span>
              </li>
              <li>
                <i class="bi bi-check"></i> <span>Nec feugiat nisl pretium</span>
              </li>
              <li>
                <i class="bi bi-check"></i> <span>Nulla at volutpat diam uteera</span>
              </li>
              <li>
                <i class="bi bi-check"></i> <span>Pharetra massa massa ultricies</span>
              </li>
              <li>
                <i class="bi bi-check"></i> <span>Massa ultricies mi quis hendrerit</span>
              </li>
              <li>
                <i class="bi bi-check"></i> <span>Voluptate id voluptas qui sed aperiam rerum</span>
              </li>
              <li class="na">
                <i class="bi bi-x"></i> <span>Iure nihil dolores recusandae odit voluptatibus</span>
              </li>
            </ul>
          </div>
        </div>
        <!-- End Pricing Item -->
        <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="300">
          <div class="pricing-item">
            <h3>Developer Plan</h3>
            <p class="description">Ullam mollitia quasi nobis soluta in voluptatum et sint palora dex strater</p>
            <h4>
              <sup>$</sup>49<span>/ month</span>
            </h4>
            <a href="#" class="cta-btn">Start a free trial</a>
            <p class="text-center small">No credit card required</p>
            <ul>
              <li>
                <i class="bi bi-check"></i> <span>Quam adipiscing vitae proin</span>
              </li>
              <li>
                <i class="bi bi-check"></i> <span>Nec feugiat nisl pretium</span>
              </li>
              <li>
                <i class="bi bi-check"></i> <span>Nulla at volutpat diam uteera</span>
              </li>
              <li>
                <i class="bi bi-check"></i> <span>Pharetra massa massa ultricies</span>
              </li>
              <li>
                <i class="bi bi-check"></i> <span>Massa ultricies mi quis hendrerit</span>
              </li>
              <li>
                <i class="bi bi-check"></i> <span>Voluptate id voluptas qui sed aperiam rerum</span>
              </li>
              <li>
                <i class="bi bi-check"></i> <span>Iure nihil dolores recusandae odit voluptatibus</span>
              </li>
            </ul>
          </div>
        </div>
        <!-- End Pricing Item -->
      </div>
    </div>
  </section>
  <!-- /Pricing Section -->
  <!-- Contact Section -->
  <section id="contact" class="contact section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Contact</h2>
      <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
    </div>
    <!-- End Section Title -->
    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="info-wrap" data-aos="fade-up" data-aos-delay="200">
        <div class="row gy-5">
          <div class="col-lg-4">
            <div class="info-item d-flex align-items-center">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h3>Address</h3>
                <p>A108 Adam Street, New York, NY 535022</p>
              </div>
            </div>
          </div>
          <!-- End Info Item -->
          <div class="col-lg-4">
            <div class="info-item d-flex align-items-center">
              <i class="bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>
                  Call
                  <br>
                </h3>
                <p>+1 5589 55488 55</p>
              </div>
            </div>
          </div>
          <!-- End Info Item -->
          <div class="col-lg-4">
            <div class="info-item d-flex align-items-center">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Email</h3>
                <p>info@example.com</p>
              </div>
            </div>
          </div>
          <!-- End Info Item -->
        </div>
      </div>
      <form action="forms/contact.php"
            method="post"
            class="php-email-form"
            data-aos="fade-up"
            data-aos-delay="300">
        <div class="row gy-4">
          <div class="col-md-6">
            <input type="text"
                   name="name"
                   class="form-control"
                   placeholder="Your Name"
                   required="">
          </div>
          <div class="col-md-6 ">
            <input type="email"
                   class="form-control"
                   name="email"
                   placeholder="Your Email"
                   required="">
          </div>
          <div class="col-md-12">
            <input type="text"
                   class="form-control"
                   name="subject"
                   placeholder="Subject"
                   required="">
          </div>
          <div class="col-md-12">
            <textarea class="form-control"
                      name="message"
                      rows="6"
                      placeholder="Message"
                      required=""></textarea>
          </div>
          <div class="col-md-12 text-center">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
            <button type="submit">Send Message</button>
          </div>
        </div>
      </form>
      <!-- End Contact Form -->
    </div>
  </section>
  <!-- /Contact Section -->
{% endblock %}
